@use "../../index.scss" as COLOR;

.DAT_Sidenar {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 70px;
    padding-bottom: 100px;
    z-index: 25;
    background-color: rgb(255, 255, 255, 0.85);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
    box-shadow: 2px 2px 5px rgba(198, 197, 197, 0.4);
    transition: all 0.2s;
    font-family: segoeui !important;

    &::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }

    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;

    /* Opera/IE 8+ */
    &_Content {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 16px;
        height: 40px;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;

        &-icon {
            width: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        & label {
            cursor: pointer;
            flex: 8;
            font-size: 15px;
            white-space: nowrap;
            font-size: 14px;
        }

        &-arrow {
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }
    }

    &_list {
        &-accordion {
            margin-left: 23px;
            border-left: solid 1px rgb(87, 87, 87);

            & label {
                display: flex;
                align-items: center;
                font-size: 14px;
                cursor: pointer;
                padding: 12px 22px;
                color: rgb(107, 107, 107);
            }
        }
    }
}

.DAT_User {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 240px;
    z-index: 25;
    display: flex;
    align-items: center;
    background-color: rgba(216, 215, 215, 0.8);
    transition: all 0.2s;

    &-group {
        padding: 15px;

        &-Tit {
            font-size: 15px;
            color: COLOR.$Gray-color;
            margin-bottom: 8px;
        }

        &-ID {
            font-size: 18px;
            color: black;
        }
    }
}

.DAT_Shadow {
    width: 0;
}

@media (max-width: 900px) {
    .DAT_Sidenar {
        position: fixed;



    }

    .DAT_Shadow {
        /* display: none; */
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 8;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        /* Firefox */
        transition: all 0.2s;

        &::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
        }
    }

}